@{
    ViewBag.Title = "登录";
}

<h2>系统登录</h2>
<div>
    用户ID: @Session["UserID"]
    用户名: @Session["UserName"]
</div>
@if (ViewBag.ConnectionResult != null)
{
    <div class="alert @(ViewBag.ConnectionResult.ToString().Contains("登录成功") ? "alert-success" : "alert-danger")">
        @ViewBag.ConnectionResult
    </div>

}

<!-- 登录表单 -->
@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    <div class="form-group">

        @*<label>用户Id:</label>
            @Html.TextBox("userid", null, new { @class = "form-control" })*@

        <label>用户名:</label>
        @Html.TextBox("username", null, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>密码:</label>
        @Html.Password("password", null, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">登录</button>
}